@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');


*{
    padding: 0;
    margin: 0;
}

  

:root{
    --cor1: #1C1C26;
    --cor2: #F2DAAC;
    --cor3: #BF9E75;
    --cor4: #26221D;
    --cor5: #A68881;

    --font1: "Zen Old Mincho", serif;
}



body{
    background-color: var(--cor1);
}

h1{
    color: var(--cor1);
    text-align: center;
    font-size: 10vw;
    font-weight: 900;
    font-family: var(--font1);
    font-variant-caps: titling-caps;
    text-shadow: 0px 0px 14px #f2daac;
    
}



p{
    margin: 0px auto;
    font-size: 3vw;
    color: var(--cor2);
}

section{
    display: flex;
    margin-top: 40px auto;
    align-items: center;
    line-height: 5vw;
    text-align: center;
}

p#esquerda{
    margin-right: 0;
}

p#direita{
    margin-left: 5%;
}


img#principal{
    width: 60vw;
    border-radius: 30px;
    margin: 0;
    box-shadow: 0px 0px 15px 10px #26221d;
    margin-left: 20px;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

img#mulher{
    margin: 12em 2em;
    width: 30em;
    border-radius: 10px 50px;
    box-shadow: 3px 5px 20px rgb(76 49 226 / 36%);;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


section#pagina2{
    display: block;
    text-align: left;
    height: 90vh;
    background-color: var(--cor4);
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.349);
}

